body {
  background: black;
}

.textContent {
  border: 2px solid whitesmoke;
}

.green {
  background: green;
  height: 200px;
}

.red {
  background: red;
  height: 200px;
}

.white {
  background: white;
  height: 200px;
}

div {
  text-align: center;
}

h1 {
  color: yellow;
  font-size: 4rem;
}

h2 {
  color: white;
}